.rail {
	--thumbSize: 56px;
	--iconSize: 24px;
	--railHeight: 62px;
	--accentColor: #ddb491;

	padding: 3px;
	border-radius: calc(var(--railHeight) / 2);
	height: var(--railHeight);
	background: rgba(255, 255, 255, 0.2);
}

.railWrapper {
	display: flex;
	align-items: center;
}

.iconWrapper {
	z-index: 1;
	height: var(--thumbSize);
	width: var(--thumbSize);
	background: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: calc(var(--thumbSize) / 2);
}

.icon {
	color: var(--accentColor);
	width: var(--iconSize);
	height: var(--iconSize);
}

.label {
	display: block;
	margin-left: 20px;
	font-size: 15px;
	font-weight: 500;
	color: var(--accentColor);
}
